---
import Layout from '@/layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About page"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
  <p>About page</p>
</Layout>
