---
import BaseHead from '@/components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
      <h1>Home page</h1>
    </main>
	</body>
</html>
